@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    padding: 0rem 15%;
    height: 100vh;
    background-color: #b4e6e8;
    opacity: 0.8;
    background-image:  radial-gradient(#ffffff 0.5px, transparent 0.5px), radial-gradient(#ffffff 0.5px, #b4e6e8 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
} 
    
section {
    display: flex;
    flex-direction: column;
    background: rebeccapurple;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    background: yellowgreen;
    gap: 5rem;
    flex-wrap: wrap;
}

/*================= FORM-UPDATE ================*/

.container-form {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    background: #ffffff;
}

.container-form h3 {
    font-size: 3rem;
    padding: 1.5rem;
    text-align: center;
}

.container-form form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 5rem 1.5rem 5rem;
}

.container-form form input {
    font-size: 1.5rem;
    padding: .4rem;
}

.container-form form button {
    font-size: 1.5rem;
    margin: auto;
    padding: .4rem 2rem;
    border-radius: 5px;
}

.container-form form button:hover {
    cursor: pointer;
} 
/*================= TABLE ================*/

.container-table {
    display: flex;
    flex-direction: column;
    min-width: 60rem ;
    max-width: 90rem;
}

.container-table h2 {
    font-size: 2rem;
    margin: auto;
    padding: 1rem;
}

/* Estilos generales de la tabla */
.container-table table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem; /* Espaciado opcional entre tablas */
    font-size: 1.5rem;
  }
  
  /* Estilos para las celdas del encabezado */
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  /* Estilos alternativos para filas */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Estilos para las celdas de datos */
  td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  /* Hover sobre las filas (efecto opcional) */
  tr:hover {
    background-color: #e6e6e6;
  }
  

/*================= LOGIN ================*/

.container-login {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    margin: auto;

    border-radius: 10px;
    background: #ffffff;
}

.container-login h3 {
    font-size: 3rem;
    padding: 1.5rem;
    text-align: center;
}

.container-login form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 5rem 1.5rem 5rem;
}

.container-login form input {
    font-size: 1.5rem;
    padding: .4rem;
}

.container-login form button {
    font-size: 1.5rem;
    margin: auto;
    padding: .4rem 2rem;
    border-radius: 5px;
}

.container-login form button:hover {
    cursor: pointer;
} 

/*================= NAV-BAR ================*/

.nav-bar {
    background: #58a0d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar ul li a{
    font-size: 2rem;
    text-decoration: none;
    padding: 0 1rem 0 0;
}

.nav-bar div {
    display: flex;

}

.nav-bar div h3 {
    font-size: 2rem;
    padding: .5rem 1.5rem .5rem .5rem;
}

.nav-bar div button {
    padding: .5rem;
    border-radius: 5px;
    border: #b4e6e8;
    font-size: 1.5rem;
}

/*================= NAV-BAR ================*/


